@model RRMonitoring.Identity.Api.ViewModels.ResetPasswordViewModel;

<div class="container">
    <div class="card">
        <img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

        <div class="card__title">
            Подтвердите смену пароля
        </div>

        <div>
            Мы отправили письмо на Вашу электронную почту. Вам нужно пройти по ссылке в письме, чтобы завершить процедуру смены пароля.
        </div>

        <a href="@Model.LoginPageUrl" class="primary-button">Войти</a>
    </div>
</div>
