<div class="container">
    <div class="card">
        <img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

        <div class="card__title">
            Срок действия ссылки истек
        </div>

        <div>
            Срок действия ссылки истек. Чтобы получить ссылку повторно необходимо снова выполнить процедуру восстановления пароля.
        </div>

        <a href="/identity/forgot-password" class="primary-button">Восстановить пароль</a>
    </div>
</div>
