@model RRMonitoring.Identity.Api.ViewModels.ResetPasswordViewModel;

<div class="container">
    <div class="card">
        <img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

        <div class="card__title">
            Пароль успешно изменен
        </div>

        <div>
            Теперь Вы можете использовать новый пароль для входа в вашу учетную запись.
        </div>

        <a href="@Model.LoginPageUrl" class="primary-button">Войти</a>
    </div>
</div>
