<div class="container">
    <div class="card">
        <img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

        <div class="card__title">
            Произошла непредвиденная ошибка
        </div>

        <div>Похоже что-то пошло не так, пожалуйста попробуйте позже, если ошибка повторится обратитесь в техническую поддержку сайта.</div>
    </div>
</div>
