$white-color: #ffffff;
$black-color: #000000;
$black-light-color: #333333;
$orange-color: #f36126;
$orange-light-color: #f9b092;
$coral-color: #f17a7a;
$silver-color: #e2e8f0;
$silver-light-color: #f6f7fb;
$silver-dark-color: #8e97b4;
$gray-color: #aeaeae;
$gray-light-color: #f5f5f5;

$bg-color: $silver-light-color;
$mobile-bg-color: $white-color;
$shadow-color: #e2e8f0c0;

$error-text-color: $coral-color;

$link-color: $black-color;
$link-secondary-color: $orange-color;

$input-border-size: 2px;
$input-bg-color: $gray-light-color;
$input-text-color: $black-color;
$input-border-color: $gray-color;
$input-error-border-color: $coral-color;

$button-primary-bg-color: $black-color;
$button-primary-border-color: $black-color;
$button-primary-text-color: $white-color;
$button-primary-hover-bg-color: $black-light-color;
$button-primary-hover-border-color: $black-light-color;
$button-primary-hover-text-color: $gray-light-color;
$button-primary-disabled-bg-color: $gray-color;
$button-primary-disabled-border-color: $gray-color;
$button-primary-disabled-text-color: $gray-light-color;

$button-secondary-bg-color: $white-color;
$button-secondary-border-color: $orange-color;
$button-secondary-text-color: $orange-color;
$button-secondary-hover-bg-color: $orange-color;
$button-secondary-hover-border-color: $orange-color;
$button-secondary-hover-text-color: $black-color;
$button-secondary-disabled-bg-color: $white-color;
$button-secondary-disabled-border-color: $orange-light-color;
$button-secondary-disabled-text-color: $orange-light-color;

$button-resend-bg-color: $white-color;
$button-resend-border-color: $orange-color;
$button-resend-text-color: $orange-color;
$button-resend-hover-bg-color: $orange-color;
$button-resend-hover-border-color: $orange-color;
$button-resend-hover-text-color: $black-color;
$button-resend-disabled-bg-color: $white-color;
$button-resend-disabled-border-color: $gray-color;
$button-resend-disabled-text-color: $gray-color;

$button-link-text-color: $black-color;
