@model RRMonitoring.Identity.Api.ViewModels.ForgotPasswordViewModel;

<div class="container">
    <div class="card">
        <img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

        <div class="card__title">
            Проверка кода подтверждения
        </div>

        <div>
            Мы выслали код проверки на указанный номер телефона
        </div>

        <form id="form" method="post" novalidate>
            <input type="text" id="digit-code-input" name="VerificationCode" class="digit-code__input" maxlength="6" autofocus autocomplete="off"/>

            @if (Model != null && !string.IsNullOrEmpty(Model.Error))
            {
                <div class="card__form-error-messages">
                    <div class="card__form-error-message">@Model.Error</div>
                </div>
            }

            <button type="submit" id="digit-code-button" name="submitButton" disabled>Подтвердить</button>

            <div>
                @if (Model?.UntilResend != null)
                {
                    <script type="text/javascript">
                        window.addEventListener("load", () => startResendTimer(@Model.UntilResend));
                    </script>

                    <input type="hidden" name="userId" value="@Context.Request.Query["userId"]"/>
                    <input type="hidden" name="isViaEmail" value="@Context.Request.Query["isViaEmail"]"/>
                    <button type="submit" formaction="resend-code" id="resendButton" class="resend" disabled>Выслать код повторно</button>
                }
            </div>
        </form>
    </div>
</div>
