@model RRMonitoring.Identity.Api.ViewModels.ForgotPasswordViewModel;

<div class="container">
	<div class="card">
		<img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

		<div class="card__title">
			Забыли пароль
		</div>

		<div>
			Мы можем помочь Вам сбросить пароль. Выберите удобный для Вас способ восстановления, чтобы мы могли выслать ссылку для восстановления пароля.
		</div>

		<form id="form" method="post" novalidate>
			<div id="forgot-password-tabs" class="card__tabs">
				<div class="card__tabs-nav">
					<label>
						<input type="radio" id="forgot-password-nav-email" name="type-email" value="true" checked/>
						По E-mail
					</label>

					<label>
						<input type="radio" id="forgot-password-nav-phone" name="type-email" value="false"/>
						По телефону
					</label>
				</div>

				<div class="card__tabs-content">
					<label id="forgot-password-content-email" class="active">
						<input type="text" name="login" placeholder="Введите E-mail"/>
					</label>

					<label id="forgot-password-content-phone">
						<input type="text" name="phone" placeholder="Введите телефон"/>
					</label>

					<div id="forgot-password-error-message" class="card__tabs-error-message">Error</div>
				</div>
			</div>

			@if (Model != null && !string.IsNullOrEmpty(Model.Error))
			{
				<div class="card__form-error-messages">
					<div class="card__form-error-message">@Model.Error</div>
				</div>
			}

			@if (Model != null && !string.IsNullOrEmpty(Model.InfoMessage))
			{
				<div class="card__form-error-messages">
					<div class="card__form-error-message">@Model.InfoMessage</div>
				</div>
			}

			@if (!string.IsNullOrEmpty(Model.YandexSmartCaptchaClientSecret))
			{
				<script src="https://smartcaptcha.yandexcloud.net/captcha.js" defer></script>
				<div class="app-form__smart-captcha smart-captcha" data-sitekey="@Model.YandexSmartCaptchaClientSecret"></div>
			}

			<button type="submit" id="forgot-password-submit-button" name="submitButton" disabled>Продолжить</button>
		</form>
	</div>
</div>
