@model RRMonitoring.Identity.Api.ViewModels.ForgotPasswordSuccessfulViewModel;

<div class="container">
	<div class="card">
		<img class="card__logo" src="~/assets/images/logo.png" alt="RedRock Pool">

		<div class="card__title">
			Сброс пароля
		</div>

		<div>
			Мы пришлем Вам письмо на @Model.Email. Для сброса пароля перейдите по ссылке в письме.
		</div>

		<a href="@Model.LoginUrl" class="primary-button">Войти</a>
	</div>
</div>
